@import 'variables.styl'
@import 'functions.styl'

body
	background-color $ghostwhite

.container
	border $border-width_base solid $whisper
	border-radius $border-radius_base
	background-color $white
	padding $padding_base
	vertical-align middle

.display_inline-block
	display inline-block

classesByNamesAndAxes(margin padding)
